<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <footer class="main__footer">
    <div class="footer__content">
        <div class="footer__logo">
        Beatrice
        </div>
    
        <ul class="footer__list">
        <li>
            <a href="#">Home</a>
        </li>
    
        <li>
            <a href="#">Contact Us</a>
        </li>
    
        <li>
            <a href="#">Cooperation</a>
        </li>
    
        <li>
            <a href="#">Dresses</a>
        </li>
    
        </ul>
    
        <div class="footer__socials">
        <i class="ri-instagram-line"></i>
        <i class="ri-facebook-line"></i>
        <i class="ri-tiktok-fill"></i>
        </div>
    </div>
</footer>
</body>
</html>